/* declare colors */
$primary-color:#272727;
$secondary-color:#FFD384;
$icon-color:darkblue;
$background-color:#fdf18534;
$light-color:#FFE6E6;




// declare width
$width:(
    "50":50%,
    "60":60%,
);


/* font families */
$font-families: (
    "serif": Georgia,
    "sans-serif":Helvetica,
    "cursive":cursive,
    "fantasy":Pacifico, 
);


    /*
        iPhone 5S is an example of a Breakpoint 1 with 320px
        iPhone 6+ is an example of a Breakpoint 2 with 414px
        iPad Mini is an example of a Breakpoint 3 with 703px
        iPad Air is an example of a Breakpoint 4 with 768px
    */

    $mobile:414px;