/*styling the intro page*/

.intro {
  background-color: #8f4e3c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(227, 242, 255);
  font-family: Pacifico;
  font-size: 3rem;
  text-align: center;
}

.hide {
  background-color: #8f4e3c;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

/*---------------------------------*/
