@charset "utf-8";

body {
    font-family: sans-serif;
    background-color: rgba(253, 241, 133, 0.2039215686);
    padding-top: 8px;
    font-weight: 500;
    font-size: larger;
}

.banner {
    background-image: url("https://taliupexpress.com/storage/15401/1654786963681.jpg");
}

.center {
    text-align: center;
}

.img_details {
    width: 60%;
}

.bottom_padding {
    padding-bottom: 100px;
}

